table{
    width: 340px;
}
td{
    border: 0;
}
.left{
    width: 25%;
    color: #777;
    text-align: right;
    /* background-color: aqua; */
}
.right{
    width: 75%;
    text-align: left;
    font-weight: lighter;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    /* background-color: aquamarine; */
}
.key{
    display: inline-block;
    padding:1px 2px;
	margin:1px 2px;
    font-family: "Courier New", Consolas, monospace;
    border: solid 1px #777;
	border-radius:1px;
}