body{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    width: 380px;
}
section{
    width: 90%;
    margin: 0px auto;
    border-bottom: 1px solid #777;
}
h1{
    font-size: 15px;
    margin: 10px 0;
}
p{
    margin: 10px 0;
}
table{
    width: 360px;
    margin: 20px 10px;
}
td{
    border: 0;
}
caption{
    width: 100%;
    text-align: left;
    margin: 0px 0px 10px 10px;
    font-weight: bolder;
}
.left{
    width: 32%;
    color: #777;
    text-align: right;
}
.right{
    width: 68%;
    text-align: left;
    font-weight: lighter;
}
.key{
    display: inline-block;
    padding:1px 2px;
	margin:1px 2px;
    font-family: "Courier New", Consolas, monospace;
    border: solid 1px #777;
	border-radius:1px;
}
