.key{
    display: inline-block;
    padding:1px 2px;
	margin:1px 2px;
    font-family: "Courier New", Consolas, monospace;
    border: solid 1px #777;
	border-radius:1px;
}
.btn {
    border: 1px solid transparent;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    /* height: 24px; */
    height: 100%;
    padding: 1px 7px;
    /* -webkit-user-select: none; */
}
.btn-primary {
    background-color: #48e;
    border-color: #37d;
    color: #fff;
}

section{margin-bottom: 30px;}