body{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    width: 450px;
}
section{
    width: 90%;
    margin: 0px auto 30px auto;
}

.key{
    display: inline-block;
    padding:1px 2px;
	margin:1px 2px;
    font-family: "Courier New", Consolas, monospace;
    border: solid 1px #777;
	border-radius:1px;
}
#save {
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 13px;
    padding: 1px 7px;
    margin: 0 auto;
}
table {
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    padding: 5px;
    border: 1px solid #333;
  }